@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@500&display=swap');

// $estilos: (
//   centro: center,
//   fuente: 'Edu VIC WA NT Beginner', cursive,
// );

$titulos: ( 
        kigu: #39af9f,
        happynap:  #ac2c47,
        disf: #e67ab9
); 

@each $titulo, $color in $titulos {
   .h2-#{$titulo} {
       color: $color;
   }
}


#contacto{
    margin-top: 1.5% !important;
    margin-bottom: 2%;
    // text-align: map-get($map: $estilos, $key: centro);
    // font-family: map-get($map: $estilos, $key: fuente);
}

li{
    list-style: none;
        &:hover{
        text-shadow: 1px 1px 1px gray;
        }
}

.galeria{
    // box-sizing: border-box;
    // margin: 0;
    // padding: 0;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    width: 95%;
    margin: auto;
    grid-gap: 10px;
    padding: 20px 0;
    overflow: hidden;

    img{
        width: 100%;
        vertical-align: top;
        height: 300px;
        object-fit: cover;    
        transition: transform 0.5s;
    }

    & > a{
        display: block;
        position: relative;
        overflow: hidden;
        box-shadow: 0 0 3px rgb(0, 0, 0.5);
    }

    & a:hover img{
        filter: blur(2px);
        transform: scale(1.2);
    }
}

.light-box{
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(0, 0, 0,.5);
    transition: transform .3s ease-in-out;
    width: 100%;
    height: 50vw;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);

    img{
        width: 45vw;
        max-height: 40vw;
    }

    &:target{
        transform: scale(1);
    }
}

.close{
    display: block;
    position: absolute;
    top: 40px;
    right: 40px;
    background: black;
    color: white;
    text-decoration: none;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;

    &:hover{
        color: $col-beige;
    }
}

.next{
    display: block;
    background: black;
    color: white;
    height: 30px;
    width: 30px;
    line-height: 30px;
    text-decoration: none;
    text-align: center;
    margin: 10px;

    &:hover{
        color: $col-beige;
    }

}

.redes{
    text-decoration: none;
    height: 120px;
    width: 120px;
}

h2{
    // text-align: map-get($map: $estilos, $key: centro);
    // font-family: map-get($map: $estilos, $key: fuente);
    text-align: center;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    padding-top: 20px;
}

.h2-disf{
    @extend h2;
    background-color: bisque;
}

@mixin sizes($width, $height) {
    height: $height;
    width: $width;
}

.h2-kigu{
    @include sizes(90px, 170px);
}

.contacto-font{
    font-family: 'Edu VIC WA NT Beginner', cursive;
    text-align: center;
    font-size: xx-large;
}

.btn-env{
    margin-right: auto;
    margin-left: auto;
}

// .img-centro{}


@media screen and (max-width:400px){
    .galeria{
        grid-template-columns: repeat(auto-fit, min-max(200px, 1fr));
    }
    
    .close{
        top: 20px;
        right: 20px;
    }

}